*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: #a84920; */
}
.header{
    display: flex;
}

.upper{
    display: flex;
    background-color: #001A4D;
    /* padding: 15px 3px; */
    font-family: 'Roboto Mono', monospace;
    padding: 10px;
    
    flex-wrap: wrap;
    /* font-size: 20px; */
}

.icon{
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 67px; */
    /* padding: 10px 0px 10px 64px ; */
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
.icon a{
    margin-left: 0px;
}
.upper a{
    color: white;
    text-decoration: none;
}
.searchbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position:relative ;
    /* left: 100px; */
    /* padding-left: 100px; */
    border: 1px solid white;
    border-radius: 3px;
    margin-left: 100px;
    margin-right: 0px;
    /* width: 40vw; */
}
 .searchbar a{
    /* border: 1px solid white; */
    /* padding: 4px; */
    opacity: 0.5;
    
} 
.input{
    padding: 4px;
    text-align: center;
    opacity: 0.5;
    border: 1px solid white;
    height: 50px;
    width: 400px;
    outline: none;
}
    .input:hover{
        padding: 4px;
        text-align: center;
        opacity: 0.5;
        border: 1px solid white;
        height: 50px;
        width: 400px;
        outline: none;
        text-align: justify;
    }

#search{
    /* padding-left: 70px; */
    height: 3.2em;
    width: 3.2em;
}
#search:hover{
    cursor: pointer;
}
.uppercorner{
    /* position: relative;
     left: 300px; */
    /* float: right;  */
    /* display: flex;
    flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex: 1;    
    text-align: right;
    padding-top: 6px; */
    /* border: 2px solid white; */
    /* display: inline-flex; */
    flex: 1;
    text-align: right;
    flex-wrap: wrap;
    position: relative;
    padding-left: 5rem;
    padding-right: 9rem;
    line-height: 3rem;
    /* align-items:center; */
    /* justify-content: center; */
}

.col{
    /* padding: 0; */
}

.row1{
    display: none;
}



.upper form{
    padding-left: 10%; 
    width: 50%;
}
@media (max-width:300px){
    .upper {
        flex-wrap: none;
        flex-flow: column;
    }
    .upper form{
        padding: 15px;
        /* padding-left: 10%;  */
        width: 100%;
    }
}
@media (min-width:300px) and (max-width:700px){
    .upper {
        flex-wrap: none;
        flex-flow: column;
    }
    .upper form{
        padding: 17px;
        width: 100%;
    }
}
@media (max-width:1200px and min-width:700px){
    .upper {
        flex-wrap: none;
        flex-flow: column;
    }
}
/* .uppercorner a{
    padding-top: 4px;
    padding-left: 39px;
} */
.navbar{
    padding: 0px;
    margin: 0px;
}

.menu-bar{
    text-align: center;
}

.menu-bar .row2{
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    /* text-align: center; */
    flex-wrap: wrap;
}

.menu-bar .row2 .col2{
    margin: 0px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.menu-bar .row2 .col2 a{
    text-decoration: none;
    color: chocolate;
    /* line-height: 5rem; */
}
/* .sub-menu-1{
    display: none;
}

.menu-bar ul li:hover .sub-menu-1,.uppercorner ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #e7b41a;
    margin-top: 10px;
    margin-left: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul, .uppercorner ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 5px;
}
.menu-bar ul li:hover .sub-menu-1 ul li,.uppercorner ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted rgb(0, 0, 0);
    background: transparent;
    border-radius: 0;
    text-align: center;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child,.uppercorner ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
 */

.col2 img{
    height: 50px;
    width: 50px;
}

/* .upper .uppercorner ul li:hover .sub-menu-1{
    display: block;
} */

  
